
<html ng-app="ionic">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Sample UL</title>

    <link  href="../../../../dist/css/ionic.css" rel="stylesheet">
    <script src="../../../../dist/js/ionic.bundle.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Try Pull Refresh</h1>
      <a class="button" ng-click="scrollBottom(true)">
        Bottom
      </a>
    </ion-header-bar>
    <ion-content>
      <ion-refresher on-refresh="onRefresh()"></ion-refresher>
      <ul class="list" style="text-align: center;">
        <div class="box"
          ng-click="alert(item)"
          scroll-item-repeat="item in items"
          scroll-item-size="65,65">
          <i class="icon ion-person"></i>
          <div class="badge" ng-class="{0: 'badge-positive', 1: 'badge-calm', 2: 'badge-balanced', 3: 'badge-energized', 4: 'badge-assertive', 5: 'badge-royal', 6: 'badge-dark'}[$index % 6]">{{item}}</div>
        </div>
      </ul>
    </ion-content>
  <script>
function MainCtrl($scope, $ionicScrollDelegate, $timeout) {
  $scope.items = [];
  for (var i = 0; i < 3000; i++) {
    $scope.items.push(i);
  }

  $scope.onRefresh = function() {
    $timeout(function() {
      var len = $scope.items.length;
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.items.unshift(2999 - $scope.items.length);
      $scope.$broadcast('scroll.refreshComplete');
    }, 1500);
  };

  $scope.scrollBottom = $ionicScrollDelegate.scrollBottom;
}
  </script>
  <style>
.box {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: 1px solid #DDD;
}
.box .icon {
  width: 100%;
  margin-top: 10px;
}
</body>
</html>
